{%extends 'homepage/main.html' %}
{% load static %}
{% block content %}
  
      {% include 'homepage/navbar.html' %}

    <div class="blog-single gray-bg">
      <div class="container">
          <div class="row align-items-start">
              <div class="col-lg-8 m-15px-tb">
                  <article class="article">
                      <div class="article-img">
                     {% if details.image %}
                        <img src=" {{ details.image.url }} " title="" alt="">
                     {% endif %}
                      </div>
                      <div class="article-title">
                          <h6><a href="#">{{details.category}}</a></h6>
                          <h2>{{details.title}}</h2>
                          <div class="media">
                               
                           <ul class="list-inline">
                           <img src=" {{ details.post.author.image.url }} " title="" alt="">
                          <li class="list-inline-item mr-2"><a class="category-link font-weight-normal" href="{{ details.author.get_absolute_url}}">{{ details.author }}</a></li>
                          <li class="list-inline-item mx-2"><a class="text-uppercase meta-link font-weight-normal" href="#"> {{details.post_date|timesince}}</a></li>
                          <li class="list-inline-item mx-2"><a class="text-uppercase meta-link font-weight-normal" href="#">Rating</a></li>
                          </ul>
               
                          </div>
                      </div>
                      <div class="article-content">
                          <p>{{details.content }}</p>

                      </div>
                      <div class="nav tag-cloud">
                        {% ifequal request.user details.author.user %}
                                  <a href="{% url 'user_feeds:post-update' details.id %}">Update post</a>
                                  <a href="{% url 'user_feeds:post-delete' details.id %}">Delete post</a>    
                        {% endifequal %}

                      </div>
                  </article>
                  {% comment %} <!-- this seaction is for comment showcase----------------------------------- --> {% endcomment %}
                  
 <div class="card">
  <div class="card-content">
    <div class="content">
      <h2>Comments: {{ comments.count }}</h2>
      
    </div>
  </div>
</div>
<article class="media"></article>
{% for comment in comments %}
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{ comment.created_by.profile_picture.url }}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p> 
        <strong>{{ comment.created_by.profile.full_name }}</strong> <small>@{{comment.created_by}}</small> <small>{{ comment.created_date|timesince }}</small>
        <br>
        {{ comment.text|linebreaks }}
      </p>
    </div>

</article>
{% empty %}
        <p>No comments here yet :</p>
{% endfor  %}
                 

                  <div class="contact-form article-comment">
                      <h4>Leave a Reply</h4>
                      <form id="contact-form" method="POST">
                          {% csrf_token  %}
                          <div class="row">
                             
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <textarea name="text" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                  </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="send">
                                      <button class="px-btn theme" type="submit"><span>Submit</span> <i class="arrow"></i></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>


  <div class="col-lg-4 m-15px-tb blog-aside">
            {% include 'user_feeds/sidebar.html' %}
   </div>
        
        <h1>Read More From Altaf's</h1>

<div class="container card-seaction ">
        <div class="row">

        {% for post in latest%}

            <div class="col-md-4">
                <div class="card p-3 m-2 card-type">
                
                    <div class="d-flex flex-row mb-3"><img src="{{ post.author.profile_picture.url }}" width="70">
                        <div class="d-flex flex-column ml-2"><span>@{{ post.author }}</span><span class="text-black-50">{{post.post_date|timesince}}</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                  <a href='{% url 'user_feeds:articale-detail' post.pk %}'>
                    <h6>{{ post.title }}</h6>
                    <div class="d-flex justify-content-between install mt-3"><span>#{{post.category}}</span>
                    <a href='{% url 'user_feeds:articale-detail' post.pk %}'>
                     <span class="is-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                    </a>
                    </div>
                 </a>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>



             

{% endblock %}
