{% extends 'homepage/main.html' %}
{% load static %}


{% block content %}

{% include 'homepage/navbar.html' %}

<!--Hero seaction------------------------------------------------------------------------------------->
<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Altaf- A platform for readers and writers
        </h1>
        <h2 class="subtitle">
          Join our free amazing coummity.To Learn and teach together for growup quick.
        </h2>

      </div>
   
    </div>
  </section>

<!--  
  <div class="alert alert-primary col-md-6 offset-md-3" role="alert">
    Welcome,{{ request.user}}
  </div>
  -->
<!--Card seaction--------------------------------------- #blog.author---------------------------------------------->


<div class="secondnavbar">
  <a href="{% url 'homepage:article-list' %}">
      <h2 >All</h2> </a>


      <h2 >Latest</h2> 

    <h2>Toprated</h2>
    <h2>Trending</h2>


    {% for cat in categories %}
   <a href="{% url 'homepage:article-list' %}?category={{cat.name}}">
        <h2>{{cat.name}}</h2>
    </a>

    {% endfor %}
   
   
  </div> 



<div class="container card-seaction ">
        <div class="row">

        {% for post in posts %} 
        
            <div class="col-md-4">
                <div class="card p-3 m-2 card-type">
                
                    <div class="d-flex flex-row mb-3"><img src="{{ post.author.profile_picture.url }}" width="70">
                        <div class="d-flex flex-column ml-2"><span>@{{ post.author }}</span>
                          <span class="text-black-50">{{post.post_date|timesince}}</span>
                          <span><i class='bx bx-book-reader'></i>{{ post.view_count }}</span>


                        </div>
                    </div>
                  <a href='{% url 'user_feeds:articale-detail' post.pk %}'>
                    <h6>{{ post.title }}</h6>
                    <div class="d-flex justify-content-between install mt-3">
                    <span>#{{post.category}}</span>

                  {% comment %} <a href='{% url 'user_feeds:articale-detail' post.pk %}'>
                     <span class="is-primary">View&nbsp;<i class="fa fa-angle-right"></i></span>
                    </a> {% endcomment %}
                    


 {% if request.user.is_authenticated %}

      {% if fav %}
      <div>
        <a href="{% url 'user_feeds:favourite_list' %}" class="">Remove
          Favourties</a>
      </div>
      {% else %}
      <div>
        <a href="{% url 'user_feeds:favourite_add' post.id %}" class="">Add to
          Favourties</a>
      </div>
    {% endif %}

      {% else %}
      <div>
        <a href="{% url 'profiles:signup' %}" class="">Add to
          Favourties</a>
      </div>
      {% endif %}
    </div>

        </div>
      </a>
    </div>
       
         
           
        {% endfor %}  
        
        </div>
    </div>

<!--Pagination seaction---------------------------------------------------------------------> 


    <!--Pagination-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
          {% if posts.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
              
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if posts.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->


  <!--Footer seaction--------------------------------------------------------------------------> 
 
 <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>A social bloging platform with django </strong> by <a href="https://altafhosen.com">Hosen MD Altaf</a>.
      </p>
    </div>
  </footer> 



{% endblock %}



  