{% extends 'homepage/main.html' %}
{% load static %}


{% include 'homepage/navbar.html' %}

{% block content %}

{% include 'homepage/navbar.html' %}

<!--Hero seaction------------------------------------------------------------------------------------->
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          A Hosen MD Altaf Blog
        </h1>
        <h2 class="subtitle">
          Tech,Food,Travel
        </h2>
      </div>
   
    </div>
  </section>

 
  <div class="alert alert-primary col-md-6 offset-md-3" role="alert">
    Welcome,{{ request.user}}
  </div>
 
<!--Card seaction--------------------------------------- #blog.author---------------------------------------------->


<div class="secondnavbar">
    <h2>Latest</h2>
    <h2>Toprated</h2>
    <h2>Trending</h2>
    {% for cat in allposts %}
 
        <h2>{{cat.category}}</h2>

    {% endfor %}
   
   
  </div>



   <h1>Latest post</h1>
  


<div class="container card-seaction ">
        <div class="row">

        {% for post in allpostinhome%}
            <div class="col-md-4">
                <div class="card p-3 m-2 card-type">
                    <div class="d-flex flex-row mb-3"><img src="{{ post.author.profile_picture.url }}" width="70">
                        <div class="d-flex flex-column ml-2"><span>{{ post.author }}</span><span class="text-black-50">{{post.post_date|timesince}}</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>{{ post.title }}</h6>
                    <div class="d-flex justify-content-between install mt-3"><span>#{{post.category}}</span><span class="is-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
           
        {% endfor %}



                
          
           
        
        </div>
    </div>



{% comment %} 
  <!--Footer seaction-------------------------------------------------------------------------------------> {% endcomment %}
 
 <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>A blog with django </strong> by <a href="https://altafhosen.com">Hosen MD Altaf</a>.
      </p>
    </div>
  </footer> 

{% endblock %}
