{% extends 'homepage/main.html' %}

{% block content %}

{% include 'homepage/navbar.html' %}


    {% for profile in profiles_list%}

 <div class="columns is-mobile">
 <div class="column is-half is-offset-one-quarter">
    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="{{profile.profile_picture.url}}">
        </p>
      </figure>
      <div class="media-content ">
        <div class="content">
          <p>
          {% comment %} profile.get_absolute_url {% endcomment %}
          <a href="{% url 'profiles:my_profile' profile.pk %}">
            <strong>{{profile.user}} </strong>
        </a>
            <br>
          </p>
        </div>
      </div>
    </article>
  <p>------------------------------</P> 
 </div>
 </div>
  {% endfor %}

 
{% endblock %}