
{% extends 'homepage/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'homepage/navbar.html' %}

  <!-- <h1 class="col-md-6 offset-md-3 btn-secondary">Wellcome to NEw world,Sign Up first.To find NEw Test</h1>  -->
<h1 style="text-align: center; background-color: rgb(233, 236, 239);">🌹Wellcome to our free amazing coummity.🌹</h1>  
<form method="POST" action="{% url 'profiles:signup' %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6 offset-md-3">
        {{ form|crispy }}
      </div>
      
    </div>
    <button type="submit" class="btn btn-success col-md-6 offset-md-3">sign up</button>
  </form>
  <div class="border-top pt-3 col-md-6 offset-md-3">
    <small class="text-muted">Already Have An Account ?<a class="ml-2" href="{% url 'profiles:login'%}">Sign In</a> </small>
   
</div>
{% endblock  %}

